@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans');


body {
    margin: 60px auto;
    width: 70%;
}
header {
    font-size: 1.6em;
    font-family:'Computer Modern Sans', 'Sans-Serif';
    color: #000;
    font-weight: 400;
    text-transform: uppercase;
}
nav ul, footer ul {
    font-family:'Computer Modern Sans', 'Sans-Serif';
    padding-bottom: 20px;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    list-style: none;
    font-weight: bold;
}

nav ul li {
    display: inline;
}

nav a {
    position: relative;
    text-decoration: none;
}

nav a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 100%;
    height: 2px;
    background: currentColor;

    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.25s ease;
}

nav a:hover::after {
    transform: scaleX(1);
}

nav a.active::after {
    transform: scaleX(1);
}

ul#nlist {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 20px;
}
a {
    text-decoration: none;
    color: #0469db;
}
ab {
    text-decoration: none;
    color: #da291c;
}
nav a:hover {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 2em;
    font-family:'Computer Modern Sans', 'Sans-Serif';
}
h2 {
    font-family:'Computer Modern Sans', 'Sans-Serif';
}
h3 {
    font-family:'Computer Modern Sans', 'Sans-Serif';
}
h4 {
    font-family:'Computer Modern Sans', 'Sans-Serif';
    margin-block-start: -1em;
    margin-block-end: 0em;
}
p {
    font-size: 1em;
    font-family:'Computer Modern Serif', 'Serif';
    line-height: 1.2em;
    color: #111;
    text-align: justify;

}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
    font-family:'Computer Modern Serif', 'Serif';
}

li { 
    margin: 20px auto 40px; 
    font-size: 1em;
    font-family:'Computer Modern Serif', 'Serif';
}
ul.posts li {
    list-style: none;
}
