@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans');

body {
    margin: 60px auto;
    width: 70%;
}
header {
    font-size: 1.6em;
    font-family:'Roboto Mono', 'monospace';
    color: #000;
    font-weight: 400;
    text-transform: uppercase;
}
nav ul, footer ul {
    font-family:'Noto Sans', 'Roboto', 'Sans-Serif';
    padding-bottom: 20px;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    list-style: none;
    font-weight: bold;
}

nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #0469db;
}
a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 2em;
    font-family:'Noto Sans', 'Roboto', 'Sans-Serif';
}
h2 {
    font-family:'Noto Sans', 'Roboto', 'Sans-Serif';
}
h3 {
    font-family:'Noto Sans', 'Roboto', 'Sans-Serif';
}
h4 {
    font-family:'Noto Sans', 'Roboto', 'Sans-Serif';
    margin-block-start: -1em;
    margin-block-end: 0em;
}
p {
    font-size: 1em;
    font-family:'Noto Sans', 'Roboto', 'Sans-Serif';
    line-height: 1.2em;
    color: #111;
    text-align: justify;

}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
    font-family:'Noto Sans', 'Roboto', 'Sans-Serif';
}

li { 
    margin: 20px auto 40px; 
    font-size: 1em;
    font-family:'Noto Sans', 'Roboto', 'Sans-Serif';
}
ul.posts li {
    list-style: none;
}
