<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato|Roboto">
	</head>
	
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
	        	<li><a href="/about.html">About</a></li>
        		<li><a href="/projects.html">Projects</a></li>
        		<li><a href="/resume.html">Resume</a></li>
    		</ul>
		</nav>
		<div class="container">
			{{ content }}

		</div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="mailto:aychen314159@gmail.com">email</a></li>
        		<li><a href="https://github.com/carbonheliumintrogen">github.com/carbonheliumnitrogen</a></li>
			</ul>
		</footer>
	</body>
</html>
