<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
	        	<li><a href="/about.html">About</a></li>
        		<li><a href="/projects.html">Projects</a></li>
			<li><a href="/seb.html">SEB</a></li>
        		<li><a href="/resume.html">Resume</a></li>
    		</ul>
		</nav>
		<div class="container">
			{{ content }}

		</div><!-- /.container -->
		<footer>
    		<ul>
			<li>Contact: </li>
        		<li><a href="mailto:aychen314159@gmail.com">Email</a></li>
        		<li><a href="https://www.linkedin.com/in/aychen314159/">LinkedIn</a></li>
			</ul>
		</footer>
	</body>
</html>
